<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<title>Activités</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container my-2">
			<div class="card">
				<div class="card_body">
					<div class="container my-5">
						<div class="col-md-10">
							<div>
								<button class="btn btn-primary modal-form" data-bs-toggle="modal" data-bs-target="#activite-form"
									th:attr="data-submit=@{/gestion/activite/add}"><i class="fas fa-plus"></i>
									Ajouter une activité</button>
							</div>
							<table class="table table-striped table-reponsive-md">
								<thead>
									<tr>
										<th>Nom</th>
										<th>Icône</th>
										<th>Modifier</th>
										<th>Supprimer</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="activite : ${activites}" th:object="${activite}">
										<td th:text="*{nom}"></td>
										<td><i th:class="@{fas fa-{icon}(icon=*{faIcone})}"></i></td>
										<td><button class="btn btn-primary modal-form" data-bs-toggle="modal"
												data-bs-target="#activite-form"
												th:attr="data-id=*{id},data-submit=@{/gestion/activite/update/{id}(id=*{id})}">
												<i class="fas fa-pen"></i></button></td>
										<td><a th:href="@{/gestion/activite/delete/{id}(id=*{id})}" class="btn btn-primary"><i
													class="fas fa-times"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="activite-form" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Activité</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
					</div>
					<div class="modal-body">
						<form id="modal-form" th:action="@{/gestion/activite/add}" method="post" th:object="${newActivite}">
							<div class="form-group">
								<label for="nom" class="form-label">Nom</label>
								<input type="text" th:field="*{nom}" class="form-control">
							</div>
							<div class="form-group">
								<label for="faIcone" class="form-label">Nom de l'icône</label>
								<input type="text" th:field="*{faIcone}" class="form-control">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						<button type="submit" form="modal-form" class="btn btn-primary">Valider</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>
