<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Modération Avis</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row justify-content-center trajet">
			<div class="col-md-9 col-lg-7">
				<div></div>
				<h1 class="mt-2 mb-4"><i class="fas fa-comments"></i> Avis</h1>
				<div th:each="unAvis : ${avis}" class="card text-bg-light border-warning w-90 m-3">
					<div class="card-header p-3 d-flex justify-content-between">
						<h5 class="align-self-center">Avis #<span th:text="${unAvis.id}"></span> du <span
								th:text="${unAvis.date}"></span>
						</h5>
						<a th:href="@{/gestion/avis/{id}(id=${unAvis.id})}" class="btn text-danger align-self-center"><i
								class="fas fa-times"></i></a>
					</div>
					<div class="card-body px-4">
						<div class="d-flex">
							<div class="me-5">
								<div class="fs-5 mb-2"><span th:text="${unAvis.reservable.nom}"></span></div><br>
								<div class="mb-2">Utilisateur : <br><span th:text="${unAvis.client.nom}"></span>
									<span th:text="${unAvis.client.prenom}"></span>
								</div>
								<div>Email : <span th:text="${unAvis.client.email}"></span></div>
								<br>
							</div>
							<br>
							<div class="d-flex flex-column">
								<div class="card-text me-auto">
									<div>Note : <span th:text="${unAvis.note}" id="snailNote"></span></div>
									<br>
									<div>Commentaire : <p th:text="${unAvis.commentaire}">
										</p>
									</div>
								</div>
								<button class="btn btn-sm btn-outline-warning ms-auto p-2 mb-2"
									type="button"  
									th:attr="data-bs-toggle=collapse, data-bs-target=@{#collapseReponse{id}(id=${unAvis.id})}, 
									aria-controls=@{collapseReponse{id}(id=${unAvis.id})}, aria-expanded=false">
									<i class="fas fa-reply"></i>
								</button>
							</div>
						</div>
						<div class="collapse" th:id="'collapseReponse'+${unAvis.id}">
						<div th:if="${unAvis.reponse} != null" class="border-top border-warning-subtle">
							<h6>Réponse</h6>
							<p th:text="${unAvis.reponse.message}"></p>
						</div>
							<div class="card card-body" th:if="${unAvis.reponse} == null">
								<form th:action="@{/gestion/avis/repondre/{id}(id=${unAvis.id})}" th:object="${reponse}"
									method="post">
									<div class="form-group">
										<label for="id-message" class="sr-only">ID <span
												class="text-danger">*</span></label>
										<input th:value="${unAvis.id}" name="avis" class="form-control" id="id-message" type="hidden">
									</div>
									<div class="form-group">
										<label for="message" class="col-form-label">Réponse <span
												class="text-danger">*</span></label>
										<textarea th:field="*{message}" class="form-control" id="message" rows="3"
											required="required"></textarea>
										<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"
											class="text-danger"></span>
									</div>
									<div class="form-group mt-3">
										<button type="submit" class="btn btn-warning ms-auto p-2"><i
												class="far fa-share-square"></i> Répondre</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>