<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<title>Destinations</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container my-2">
			<div class="card">
				<div class="card_body">
					<div class="container my-5">
						<div class="col-md-12">
							<div>
								<button class="btn btn-primary modal-form" data-bs-toggle="modal" data-bs-target="#destination-form"
									th:attr="data-submit=@{/gestion/destination/add}"><i class="fas fa-plus"></i>
									Ajouter une destination</button>
							</div>
							<table class="table table-striped table-reponsive-md">
								<thead>
									<tr>
										<th>Photo</th>
										<th>Ville</th>
										<th>Prix</th>
										<th>Modifier</th>
										<th>Supprimer</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="destination : ${destinations}" th:object="${destination}">
										<td><img th:src="*{imageDestination}" class="img-thumbnail" width="100px"></td>
										<td th:text="*{ville}"></td>
										<td th:text="*{prix}"></td>
										<td><button class="btn btn-primary modal-form" data-bs-toggle="modal"
												data-bs-target="#destination-form"
												th:attr="data-id=*{id},data-submit=@{/gestion/destination/update/{id}(id=*{id})}">
												<i class="fas fa-pen"></i></button></td>
										<td><a th:href="@{/gestion/destination/delete/{id}(id=*{id})}" class="btn btn-primary"><i
													class="fas fa-times"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="destination-form" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Destination</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
					</div>
					<div class="modal-body">
						<form id="modal-form" th:action="@{/gestion/destination/add}" method="post" th:object="${newDestination}">
							<div class="form-group">
								<label for="ville" class="form-label">Ville</label>
								<input type="text" th:field="*{ville}" class="form-control">
							</div>
							<div class="form-group">
								<label for="prix" class="form-label">Prix</label>
								<input type="number" step="0.01" th:field="*{prix}" class="form-control">
							</div>
							<div class="form-group">
								<label for="imageDestination" class="form-label">Image destination</label>
								<input type="text" th:field="*{imageDestination}" class="form-control">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						<button type="submit" form="modal-form" class="btn btn-primary">Valider</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>
