<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<title>stationBalneaires</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container my-2">
			<div class="card">
				<div class="card_body">
					<div class="container my-5">
						<div class="col-md-12">
							<div>

								<button class="btn btn-primary modal-form" data-bs-toggle="modal"
									data-bs-target="#stationBalneaire-form"
									th:attr="data-submit=@{/gestion/stationbalneaire/add}"><i class="fas fa-plus"></i>
									Ajouter une station balneaire</button>
							</div>
							<table class="table table-striped table-reponsive-md">
								<thead>
									<tr>
										<th>Photo</th>
										<th>Nom</th>
										<th>Prix par jour</th>
										<th>Description</th>
										<th>Lieu</th>
										<th>nombre de piscines</th>
										<th>nombre de SPA</th>
										<th>liste des activités</th>
										<th>Modifier</th>
										<th>Supprimer</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="stationBalneaire : ${stationBalneaires}"
										th:object="${stationBalneaire}">
										<td><img th:src="*{photoPrincipale}" class="img-thumbnail" width="100px"></td>
										<td th:text="*{nom}"></td>
										<td th:text="*{prixParJour}"></td>
										<td th:text="*{#strings.abbreviate(description, 30)}"></td>
										<td th:text="*{lieu.ville}"></td>
										<td th:text="*{nbPiscine}"></td>
										<td th:text="*{nbSpa}"></td>
										<td><span class="badge rounded-pill text-bg-secondary mr-1" th:each="activite : *{activites}"
                                                th:text="${activite.nom}"></span></td>
										<td><button class="btn btn-primary modal-form" data-bs-toggle="modal"
												data-bs-target="#stationBalneaire-form"
												th:attr="data-id=*{id},data-submit=@{/gestion/stationbalneaire/update/{id}(id=*{id})}">
												<i class="fas fa-pen"></i></button></td>
										<td><a th:href="@{/gestion/stationbalneaire/delete/{id}(id=*{id})}"
												class="btn btn-primary"><i class="fas fa-times"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="stationBalneaire-form" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">stationBalneaire</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
					</div>
					<div class="modal-body">
						<form id="modal-form" th:action="@{#}" method="post" th:object="${newStationBalneaire}">
							<div class="form-group">
								<label for="nom" class="form-label">Nom</label>
								<input type="text" th:field="*{nom}" class="form-control">
							</div>
							<div class="form-group">
								<label for="prixParJour" class="form-label">Prix par jour</label>
								<input type="number" step="0.01" th:field="*{prixParJour}" class="form-control">
							</div>
							<div class="form-group">
								<label for="lieu" class="form-label">Lieu</label>
								<select class="form-select" th:field="*{lieu}">
									<option th:each="destination : ${allDestinations}" th:text="${destination.ville}"
										th:value="${destination.id}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="photoPrincipale" class="form-label">Photo de la Station Balnéaire</label>
								<input type="text" th:field="*{photoPrincipale}" class="form-control">
							</div>
							<div class="form-group">
								<label for="description" class="form-label">Description</label>
								<textarea class="form-control" rows="3" th:field="*{description}"></textarea>
							</div>
							<div class="form-group">
								<label for="etoiles" class="form-label">nombre de piscines</label>
								<input type="number" step="1" th:field="*{nbPiscine}" class="form-control">
							</div>
							<div class="form-group">
								<label for="petitDejeuner" class="form-label">nombre de SPA</label>
								<input type="number" step="1" th:field="*{nbSpa}" class="form-control">
							</div>
							<div class="form-group">
								<label for="activites" class="form-label">activités</label>
								<select class="form-select" th:field="*{activites}" multiple>
									<option th:each="activite : ${allActivites}" th:text="${activite.nom}"
										th:value="${activite.id}"></option>
								</select>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						<button type="submit" form="modal-form" class="btn btn-primary">Valider</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>
