<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<title>Vip</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container my-2">
			<div class="card">
				<div class="card_body">
					<div class="container my-5">
						<div class="col-md-12">
							<div>
								<button class="btn btn-primary modal-form" data-bs-toggle="modal" data-bs-target="#VIP-form"
									th:attr="data-submit=@{/gestion/Vips/add}"><i class="fas fa-plus"></i>
									Ajouter un VIP</button>
							</div>
							<table class="table table-striped table-reponsive-md">
								<thead>
									<tr>
										<th>Photo</th>
										<th>Nom</th>
										<th>Prénom</th>
										<th>Mail</th>
										<th>Photo de profil</th>
										<th>Modifier</th>
										<th>Supprimer</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="VIP : ${Vips}" th:object="${VIP}">
										<td><img th:src="*{photoProfil}" class="img-thumbnail" width="100px"></td>
										<td th:text="*{nom}"></td>
										<td th:text="*{prenom}"></td>
										<td th:text="*{email}"></td>
										<td th:text="*{#strings.abbreviate(photoProfil, 30)}"></td>
										<td><button class="btn btn-primary modal-form" data-bs-toggle="modal"
												data-bs-target="#VIP-form"
												th:attr="data-id=*{id},data-submit=@{/gestion/Vips/update/{id}(id=*{id})}">
												<i class="fas fa-pen"></i></button></td>
										<td><a th:href="@{/gestion/Vips/delete/{id}(id=*{id})}" class="btn btn-primary"><i
													class="fas fa-times"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="VIP-form" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">VIP</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
					</div>
					<div class="modal-body">
						<form id="modal-form" method="post" th:action="@{#}" th:object="${NewVip}">
							<div class="form-group">
								<label for="nom" class="form-label">Nom</label>
								<input type="text" th:field="*{nom}" class="form-control">
							</div>
							<div class="form-group">
								<label for="prenom" class="form-label">Prénom</label>
								<input type="text" th:field="*{prenom}" class="form-control">
							</div>
							<div class="form-group">
								<label for="email" class="form-label">Mail</label>
								<input type="text" th:field="*{email}" class="form-control">
							</div>
							<div class="form-group">
								<label for="password" class="form-label">Mot de passe</label>
								<input type="password" th:field="*{password}" class="form-control">
							</div>
							<div class="form-group">

								<label for="role" class="sr-only">Role</label>
								<input type="hidden" th:field="*{roles}">
							</div>
							<div class="form-group">
								<label for="photoProfil" class="form-label">Photo de profil</label>
								<input type="text" th:field="*{photoProfil}" class="form-control">
							</div>
							
							<div class="form-group">
									<label for="panier" class="sr-only">Panier</label>
									<input type="hidden"  th:field="*{panier}">
							</div> 
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
						<button type="submit" form="modal-form" class="btn btn-primary">Valider</button>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>
