@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
	--menu-hover-color: #A8CDFE;
	--close-button-color: #333;
	--sub-menu-background: #ededed;
	--top-nav-menu-hover-color: #6a6a6a;

	--couleur-primaire-ecriture: #4C4F69;
	--couleur-button: #ef9f76;
	--couleur-button-hover: #D65A18;
	--white: #FFFF;
	--header-footer-bg: #92A3B5;
	--neutral-bg: #B9C4D0;
	--couleur-lien-footer: #3E454C;
}

.html {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 .row {
 	margin: 0;
 }
 
 /***********************COMMUN************************/
  .bouton button {
 	background-color: var(--couleur-button);
 	color: var(--couleur-primaire-ecriture);
 }


 .bouton button:hover {
 	background-color: var(--couleur-button-hover);
 	color: var(--white);
 }

/*********************** TRAJET **********************/
.img-bg {
 	background: url(../img/photo-main.jpg) no-repeat;
 	background-position: center;
 	height: max-content;

	/*vertical-align: middle;*/
}

.trajet {
	background-color: rgba(255, 255, 255, 0.7);
	margin: 5% 15% 5% 15%;
	border-radius: 7px;


}

.trajet button {
	background-color: var(--couleur-button);
	color: var(--couleur-primaire-ecriture);
}


.trajet button:hover {
	background-color: var(--couleur-button-hover);
	color: var(--white);
}

/************************HEADER***********************/

header {
	display: flex;
}

#header1 {
	background-color: var(--header-footer-bg);
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 3px solid var(--couleur-button);
}

#header1 #login {
	background-color: #2c6e49;
	color: var(--white);
}

#header1 #login:hover {
	background-color: #245C18;
}



/* ******************** HAMBURGER ICON ******************** */
/* define size and position of the hamburger link */

.header1_hamburger {
	display: block;
	position: relative;
	margin: 16px;
	width: 33px;
	height: 28px;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

/* define the style (size, color, position, animation, ...) of the 3 spans */
.header1_hamburger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	margin-bottom: 5px;

	background: var(--white);
	border-radius: 3px;


	opacity: 1;
	left: 0;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

/* set the 3 spans position to look like a hamburger */
.header1_hamburger span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}

.header1_hamburger span:nth-child(2) {
	top: 12px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.header1_hamburger span:nth-child(3) {
	top: 24px;
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-o-transform-origin: left bottom;
	transform-origin: left bottom;
}

/*css de l'animation laissé plus bas pour future utilisation*/

/*********Menu dépliant**********/

.right-menu {
	background-color: var(--sub-menu-background);
}

.offcanvas-header {
	text-align: center;
	display: flex;
}

.right-menu ul {
	display: flex;
	flex-direction: column;


	margin: 0;
	right: 0;
	top: 0;

	min-width: 20vw;
	height: 100vh;
	padding: 56px 0 0;

	text-align: center;

	background: var(--sub-menu-background);
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
}

.right-menu li {
	padding: 12px 24px;
}

.right-menu li:hover {
	background-color: var(--menu-hover-color);
}

.right-menu a {
	white-space: nowrap;
	color: var(--close-button-color);
	text-decoration: none;
}

#subnav-content a:hover {
	background-color: var(--menu-hover-color);
}

#subnav-content a {
	padding: 10px 0px 10px 0px;
}

.input-group button {
	background-color: var(--couleur-button);
	color: var(--couleur-primaire-ecriture);
}

.input-group button:hover {
	background-color: var(--couleur-button-hover);

}

.input-group button:hover {
	color: var(--white);

}

/* ******************** NAV BAR ******************** */

.topnav_link {
	color: white;
	padding: 12px;
	text-decoration: none;
}

.topnav_link:hover {
	color: var(--top-nav-menu-hover-color);
	text-decoration: none;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
	display: none;
}

@media only screen {

	/* position home link at left and hamburger at right */
	#home_link {
		flex-grow: 1;
	}



	/* ******************** HAMBURGER ICON ANIMATION ******************** */


	/* change color when opening the menu */
	#topnav_hamburger_icon.open {
		background: var(--close-button-color);
	}

	/* the first span rotates 45° \ */
	#topnav_hamburger_icon.open span:nth-child(1) {
		width: 110%;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	/* the second span disappears */
	#topnav_hamburger_icon.open span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}

	/* the last span rotates -45° / */
	#topnav_hamburger_icon.open span:nth-child(3) {
		width: 110%;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}


}


#iconeHeader {

	font-size: 30px;

}


#subnav-content {
	display: none;
	transform: none;
}

#subnav-content.open {
	display: block;
	position: absolute;
	margin: 0;
	right: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	z-index: 100;

	/* transform-origin: 0% 0%;
     transform: translate(200%, 0);

     transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);   */
}


#subnav-content a:hover {
	background-color: var(--menu-hover-color);
}

#subnav-content a {
	padding: 10px 0px 10px 0px;
}

.input-group button {
	background-color: var(--couleur-button);
	color: var(--couleur-primaire-ecriture);
}

.input-group button:hover {
	background-color: var(--couleur-button-hover);

}

.input-group button:hover {
	color: var(--white);

}

.topnav #login {
	background-color: #2c6e49;
	color: var(--white);
}

.topnav #login:hover {
	background-color: #245C18;
}

/************RESERVABLE**************/
.img-reservable {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 15% 0px 15%;
}

.column {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.row {
	flex: 1;
	display: flex;
}

.image-res {
	flex: 1;
	object-fit: cover;
	max-width: 100%;
}
.card.reservable{
	margin: 0px 15% 0px 15%;
}


/********SEARCH.HTML-CSS********/

.card {
	background-color: var(--sub-menu-background);
}

#image-bckgrnd {
	background: url(../img/hotel-room.jpg) no-repeat;

	background-size: cover;
	border-radius: 4px;
	width: 30vw;
	height: 20em;
}

#btn-VIP {
	position: relative;
	padding: 5px;
	right: 0;
}

/**************Avis/Etoiles**********/

.ratings {
	margin-right: 10px;
	background-color: none;
}

.ratings i {

	color: #cecece;
	font-size: 24px;
}

.rating-color {
	color: #fbc634;
}

.review-count {
	font-weight: 400;
	font-size: 18px;
}

.snail-mask {
	width: 1em;
	height: 1em;
	margin-right: 5px;
	display: inline-block;
	mask-image: url(/img/snail.svg);
	mask-repeat: round;
}

 /****** Avis/form *****/
 
 .rating {
	display: inline-block;
	font-size: 18px;
}

.rating>input {
	display: none;
}

.rating>label {
	background-color: var(--couleur-primaire-ecriture);
	float: right;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
	background-color: var(--couleur-button);
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
	background-color: var(--couleur-button-hover);
}

 /************FOOTER******************/
 footer {
 	background-color: var(--header-footer-bg);
 	border-top: 3px solid var(--couleur-button);
 	justify-content: space-evenly;
 	display: flex;
	width: 100%;
	margin: 0 !important;



}



.lienfooter {
	font-size: 18px;
	text-decoration: none;
	color: var(--couleur-lien-footer);
}

.h4footer {
	font-size: 22px;
	margin-bottom: 0px;
	text-align: center;
	color: var(--couleur-lien-footer);
}

#elements {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer__share {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footer__social {
	padding-top: 20px;
	text-decoration: none;
}

.icone {
	font-size: 2rem;
	color: var(--couleur-lien-footer);
}


/************COMMANDE***********************/
.row {
	max-width: 1500px;
	margin: auto;
	justify-content: center;
}

.text-divider {
	font-style: italic;
	font-weight: bold;
}

.sum-content {
	text-align: center;
}

h1 {
	text-align: center;
}

dl,
dt,
dd {
	text-align: center;
}

img {
	border-image: round;
}

.btn:hover {
	color: var(--bs-btn-hover-color);
	background-color: var(--bs-btn-hover-bg);
	border-color: var(--bs-btn-hover-border-color);
}

.rounded-pill {
	border-radius: var(--bs-border-radius-pill);
}

.px-3 {
	padding-right: 1rem;
	padding-left: 1rem;
}

/***********************HOME***********************/
.card {
	margin: 0.5em;
	width: calc(100%);
}

.position-relative {

	background-image: url(../img/photo-main.png);
	background-size: cover;
}

.cpt-background-header.size-1 {
	max-height: 1000px;
	height: 100vh;
	margin-block-end: 20px;
	position: relative;
}

.bg-header-image {
	height: 100vh;
}

.cpt-background-header.size-1 .bg-header-image {
	display: block;
}

.elem-image.size-100 {
	width: 100%;
}

.elem-image {
	margin: 0;
	position: relative;
}

.elem-image:not(.logo) img {
	width: 100%;
	height: 100%;
	background-color: transparent;
	vertical-align: top;
	object-fit: cover;
	display: inline-block;
}

img {
	border-style: none;
}

.cpt-background-header.size-1 .inner-background-header {
	position: absolute;
	top: inherit;
	bottom: 20px;
	left: 20px;
	width: calc(100% - 40px);
	transform: none;
	margin-inline-start: 0;
	z-index: 2;
}

.cpt-title-header {
	justify-content: flex-start;
	line-height: 1;
	margin-block-end: 10px;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.78);
	color: #fff;
	font-weight: 300;
	line-height: 1.15;
}

.cpt-title-header {
	color: #fff;
	font-weight: 300;
	line-height: 1.15;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.cpt-title-header .title-lvl1 {
	font-size: 62px;
	line-height: 60px;
	position: absolute;
	bottom: 50vh;
	text-transform: uppercase;
	text-align: center;
	font: 400 46px/47px;
	width: 60%;
}


/***CONTACT***/


.contact {
	background-color: rgba(255, 255, 255, 0.8);
	margin: 5% 15% 5% 15%;
	border-radius: 7px;
	padding: 10px;


}

#h4contact {
	justify-content: center;
	padding: 10px;
}

#h6contact {
	color: var(--couleur-primaire-ecriture);
	font-style: italic;
	justify-content: center;
	padding: 10px;
}

.highlightcontact {
	font-weight: bold;
	text-decoration: underline;
}

.highlightemail {
	font-weight: bold;
	color: darkblue;
}

.contact__social {
	padding-top: 5px;
	text-decoration: none;
}


/***CONFIDENTIALITE***/
#confid {
	overflow: auto;
}

#confidcard {
	height: 450px;
}

/**** PROFILE ******/
.abm-btn {
	background-color: var(--couleur-button);
	color: var(--couleur-primaire-ecriture);
}

.abm-btn:hover {
	background-color: var(--couleur-button-hover);
	color: var(--white);
}


/**APROPOS**/
.neutral-bg {
	background-color: var(--neutral-bg);
}

.imageWrapper {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
}


.imageEquipe {
	height: auto;
	width: 200px;
	transform: rotate(50deg);
	position: absolute;

}

mark {
	background-color: var(--couleur-lien-footer);
	color: var(--couleur-button);
}

.circletest span {
	font: 20px Monaco, MonoSpace;

	font-weight: bold;

	height: 100px;

	position: fixed;
	width: 20px;
	left: 100px;
	top: 0;
	transform-origin: bottom center;
}

.circletest {
	display: block;
	font-size: 5em;

	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.badge_apropos {
	position: relative;
	width: 200px;
	border-radius: 50%;
	transform: rotate(-50deg);
	overflow: visible;
}

.char-1 {
	transform: rotate(5deg);
}

.char-2 {
	transform: rotate(15deg);
}

.char-3 {
	transform: rotate(25deg);
}

.char-4 {
	transform: rotate(35deg);
}

.char-5 {
	transform: rotate(45deg);
}

.char-6 {
	transform: rotate(55deg);
}

.char-7 {
	transform: rotate(65deg);
}

.char-8 {
	transform: rotate(75deg);
}

.char-9 {
	transform: rotate(85deg);
}

#devise {
	font-weight: bolder;
	color: #D65A18;
}
