<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Commande</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Récapitulatif de commande</h1>
		
		<div class="row" data-masonry='{"percentPosition": true }'>
			<div class="col-sm-6 col-lg-4 mb-4" th:each="commande : ${commande}">
				<div class="card" 
					style="background-color: whitesmoke; font-family: Verdana, Geneva, Tahoma, sans-serif;">
					<img class="bd-placeholder-img card-img-top" width="100%" height="200"
						th:src="${commande.trajet.reservable.photoPrincipale}"
						aria-label="Placeholder: Image cap" focusable="false">
					<title>Placeholder</title>
					<rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6"
						dy=".3em"></text></svg>
					<div class="card-body">
						<div id="sum-room">
							<div class="text-divider mt-1 mb-2 text-center" style="font-size:20px;">
								<span th:text="${commande.trajet.reservable.nom}"></span>
							</div>
							<dl>
								<dt>Date d’arrivée:</dt>
								<dd><span th:text="${commande.trajet.dateAller}"></span></dd>
								<dt>Date de départ:</dt>
								<dd><span th:text="${commande.trajet.dateRetour}"></span></dd>
								<dt>Personnes:</dt>
								<dd><span th:text="${commande.trajet.nbPersonnes}"></span></dd>
							</dl>
						</div>
						<hr>
						<dl class="numeric" id="sum-room-total">
							<dt>Totalité du séjour:</dt>
							<dd class="price sum"><span th:text="${commande.trajet.calculTotal()}"></span><span class="symbol">&nbsp;EUR</span></dd>
						</dl>
					</div>
				</div>
				<div class="d-flex gap-2 justify-content-center py-5">
					<a th:href="@{/commande/ajouterPanier/{id}(id=${commande.id})}"><button sec:authorize="isAuthenticated()" class="btn btn-success rounded-pill px-3" type="submit">Ajouter au panier</button></a>
					<a th:href="@{/login?redirect=/commande/{id}(id=${commande.id})}"><button sec:authorize="isAnonymous()" class="btn btn-success rounded-pill px-3" type="submit">Se connecter</button></a>
					<br>
					<a th:href="@{/commande/delete/{id}(id=${commande.id})}"><button class="btn btn-danger rounded-pill px-3" type="delete">Annuler</button></a>
				</div>
				<div id="sum-notes"></div>
			</div>
		</div>
</body>

</html>
