<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Votre panier</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container p-4">
			<h1 class="mb-4"><i class="fas fa-shopping-cart"></i> Votre panier</h1>
			<div class="row card border-warning">
				<div class="col-xs-12">
					<ul class="nav nav-tabs nav-fill mb-4" id="myTab" role="tablist">
						<li class="nav-item text-bg-warning" role="presentation">
							<button class="nav-link active" id="CoA-tab" data-bs-toggle="tab"
								data-bs-target="#CoA-tab-pane" type="button" role="tab" aria-controls="CoA-tab-pane"
								aria-selected="true">Commandes actives</button>
						</li>
						<li class="nav-item text-bg-warning" role="presentation">
							<button class="nav-link" id="CoP-tab" data-bs-toggle="tab" data-bs-target="#CoP-tab-pane"
								type="button" role="tab" aria-controls="CoP-tab-pane" aria-selected="false">Commandes
								passées</button>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="CoA-tab-pane" role="tabpanel"
							aria-labelledby="CoA-tab" tabindex="0">
							<div th:each="commande : ${commandesActives}" class="card text-bg-light border-warning w-90 m-1">
								<div class="card-header p-3 d-flex justify-content-between">
									<h5><a th:href="@{/commande/{id}(id=${commande.id})}" class="text-decoration-none align-self-center">Commande #<span th:text="${commande.id}"></span> du <span th:text="${commande.dateCommande}"></span></a></h5>
									<a th:href="@{/commande/delete/{id}(id=${commande.id})}" class="btn text-danger align-self-center"><i class="fas fa-times"></i></a>
								</div>
								<div class="card-body p-4">
									<div class="d-flex">
										<p class="card-text me-auto fs-5">
											Destination : <span th:text="${commande.trajet.destination.ville}"></span><br>
											Prix : <span th:text="${commande.total()}"></span> €
										</p>
										<a th:if="${isVip} and ${hasPoints}" th:href="@{/commande/remise/{id}(id=${commande.id})}" class="btn btn-warning align-self-center me-2"><i class="fas fa-coins"></i> Remise</a>
										<a th:href="@{/trajet/{id}(id=${commande.trajet.id})}" class="btn btn-primary align-self-center me-2"><i class="fas fa-edit me-1"></i>Modifier</a>
										<a th:href="@{/commande/payer/{id}(id=${commande.id})}" class="btn btn-success align-self-center"><i class="fas fa-wallet me-1"></i>Payer</a>
									</div>
								</div>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end" th:unless="${#lists.isEmpty(commandesActives)}">
								<a th:href="@{/commande/payerAll/{id}(id=${panierId})}" class="btn btn-success m-3"><i class="fas fa-wallet me-1"></i> Tout Payer</a>
							  </div>
						</div>
						<div class="tab-pane fade" id="CoP-tab-pane" role="tabpanel" aria-labelledby="CoP-tab"
							tabindex="0">
							<div th:each="commande : ${commandesInactives}" class="card text-bg-light border-warning w-90 m-3">
								<h5 class="card-header p-3">Commande #<span th:text="${commande.id}"></span> du <span th:text="${commande.dateCommande}"></span></h5>
								<div class="card-body p-4">
										<p class="card-text me-auto fs-5">
											Destination : <span th:text="${commande.trajet.destination.ville}"></span><br>
											Prix : <span th:text="${commande.total()}"></span> €
										</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
