<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Formulaire de trajet</title>
</head>

<body class="img-bg d-flex flex-column h-100">

	<div layout:fragment="content">

		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-5 trajet">
				<div class="wrap">
					<div class="login-wrap p-4 p-md-5">
						<h3 class="text-left mb-4">Votre trajet</h3>
						<form th:action="@{/trajet/{id}(id=${trajet.id})}" th:object="${trajet}" th:method="POST" class="signin-form">
							<div class="form-group form-floating">
								<input type="text" class="form-control" id="depart" placeholder="Votre lieu de départ"
									required autofocus>
								<!--<span th:if="${#fields.hasErrors('depart')}" th:errors="*{depart}"
									class="text-danger"></span>-->
								<label for="depart">Départ</label>
							</div>
							<div class="form-group form-floating mb-3">
								<select class="form-select" th:field="*{destination}">
									<option th:each="destination : ${allDestinations}" th:text="${destination.ville}"
										th:value="${destination.id}"></option>
								</select>
								<span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"
									class="text-danger"></span>

								<label for="destination">Arrivé</label>
							</div>
							<div class="form-group form-floating mb-3">
								<select class="form-select" th:field="*{reservable}">
									<option th:each="reservable : ${allReservables}" th:text="${reservable.nom}"
										th:value="${reservable.id}"></option>
								</select>
								<span th:if="${#fields.hasErrors('reservable')}" th:errors="*{reservable}"
									class="text-danger"></span>

								<label for="reservable" class="col-form-label">Lieu de séjour</label>
							</div>
							<div class="d-flex align-items-center">
								<div class="w-50">
									<div class="form-group form-floating mb-3 me-1">
										<input type="datetime-local" th:field="*{dateAller}" id="dateAller" class="form-control"
											placeholder="Votre date d'aller" required>
										<span th:if="${#fields.hasErrors('dateAller')}" th:errors="*{dateAller}"
											class="text-danger"></span>
										<label for="dateAller" class="col-form-label">Date d'aller</label>
									</div>
								</div>
								<div class="w-50">
									<div class="form-group form-floating mb-3 ms-1">
										<input type="datetime-local" th:field="*{dateRetour}" id="dateRetour" class="form-control"
											placeholder="Votre date de retour" required>
										<span th:if="${#fields.hasErrors('dateRetour')}" th:errors="*{dateRetour}"
											class="text-danger"></span>
										<label for="dateRetour" class="col-form-label">Date de retour</label>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div class="form-group form-floating w-50 me-1">
									<input type="text" th:field="*{nbPersonnes}" id="nbPersonnes" class="form-control"
										placeholder="Le nombre de personne participant" required>
									<span th:if="${#fields.hasErrors('nbPersonnes')}" th:errors="*{nbPersonnes}"
										class="text-danger"></span>
									<label for="nbPersonnes" class="col-form-label" th:style="'z-index: 1;'">Nombre
										de personne</label>
								</div>
								<div class="form-group w-50 ms-1">
									<button class="form-control btn btn-lg rounded submit px-3" type="submit">Modifier
										le trajet</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>

</html>