<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<title>Erreur 404</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row justify-content-center py-5 h-100 trajet">
			<h1>Erreur 404 - Not Found</h1>
			<h2 class="text-center" th:unless="${errorMessage == null}" th:text="${errorMessage}"></h2>
		</div>
	</div>
</body>
</html>