<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<title>Mot de passe oublié</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-5">
				<div class="wrap">
					<div class="login-wrap p-4 p-md-5">
						<h3 class="text-center mb-4">Mot de passe oublié</h3>
						<form th:action="@{/forgotten}" th:method="POST"
							th:object="${user}" class="">
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-50">
									<label for="inputIdentifiant" class="col-form-label">Identifiant</label>
								</div>
								<div class="w-75">
									<input type="text" th:field="*{email}" id="inputEmail"
										class="form-control" placeholder="Veuillez entrer votre email"
										required> <span th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}" class="text-danger"></span>
								</div>
							</div>
							<h4 class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}" ></h4>
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-50">
									<label for="inputPassword" class="col-form-label">Nouveau
										mot de passe</label>
								</div>
								<div class="w-75">
									<input type="password" th:field="*{password}"
										id="inputPassword" class="form-control"
										placeholder="Entrez votre nouveau mot de passe" required>
									<span th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}" class="text-danger"></span>
								</div>
								<div class="w-10">
									<button type="button"
										onclick="togglePasswordVisibility(TOGGLE, InPSWD)"
										class="btn fas fa-eye" id="toggle-password"></button>
								</div>
							</div>
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-50">
									<label for="confirmPassword" class="col-form-label">Confirmez
										votre nouveau mot de passe</label>
								</div>
								<div class="w-75">
									<input type="password" id="confirmPassword"
										class="form-control"
										placeholder="Entrez de nouveau votre mot de passe"
										onkeyup="checkPassword()" required> <span id="message"></span>
								</div>
								<div class="w-10">
									<button type="button"
										onclick="togglePasswordVisibility(confirmTOGGLE, confirmPSWD)"
										class="btn fas fa-eye" id="toggle-confirmPassword"></button>
								</div>
							</div>
							<div class="form-group mt-3">
								<div class="form-group mt-3 bouton">
									<button type="submit"
										class="form-control btn btn-warning rounded submit px-3">Valider</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>