<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Avis</title>
</head>

<body class="img-bg d-flex flex-column h-100">
	<div layout:fragment="content">
		<div class="row justify-content-center">
			<div class="col-md-9 col-lg-7 trajet">
				<div class="wrap">
					<div class="login-wrap p-4 p-md-5">
						<h3 class="text-left mb-4"><i class="fas fa-pencil-alt"></i> Donner votre avis</h3>
						<form th:action="@{/avis/add}" th:object="${avis}" method="post">
							<div class="d-flex align-items-center">
								<div class="form-group w-50 me-3">
									<label for="reservable_id" class="col-form-label">Lieu de séjour</label>
									<select class="form-control" th:field="*{reservable}" id="reservable_id" required>
										<option th:each="listeReservable : ${listeReservables}"
											th:value="${listeReservable.id}" th:text="${listeReservable.nom}"></option>
									</select>
								</div>
								<div class="form-group w-50">
									<label for="dateAjd" class="sr-only">Date</label>
									<input type="hidden" th:field="*{date}" id="dateAjd" class="form-control" required>
									<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
										class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mb-2">
								<label for="message" class="col-form-label">Message</label>
								<textarea th:field="*{commentaire}" class="form-control" id="message" rows="3"
									required="required"></textarea>
								<span th:if="${#fields.hasErrors('commentaire')}" th:errors="*{commentaire}"
									class="text-danger"></span>
							</div>
							<div class="form-group d-flex align-items-center mb-2">
								<label class="col-form-label me-3">Note</label>
								<div class="rating">
									<input type="radio" th:field="*{note}" id="star1" name="rating1" value="1">
									<label class="full snail-mask" for="star1" title="Bad"></label>
									<input type="radio" th:field="*{note}" id="star2" name="rating2" value="2">
									<label class="full snail-mask" for="star2" title="Not all bad"></label>
									<input type="radio" th:field="*{note}" id="star3" name="rating3" value="3">
									<label class="full snail-mask" for="star3" title="Alright"></label>
									<input type="radio" th:field="*{note}" id="star4" name="rating4" value="4">
									<label class="full snail-mask" for="star4" title="Pretty good"></label>
									<input type="radio" th:field="*{note}" id="star5" name="rating5" value="5">
									<label class="full snail-mask" for="star5" title="Awesome"></label>
								</div>
							</div>
							<div class="form-group mb-2" >
								<label for="user_id" class="sr-only">Client ID</label>
								<input type="hidden" name="client" th:value="${userId}" class="form-control" id="user_id" required>
							</div>
							<div class="d-flex justify-content-between">
							<div class="form-group">
								<button class="btn btn-danger my-2 my-sm-0" type="reset">Annuler</button>
							</div>
							<div class="form-group">
								<button class="btn btn-danger my-2 my-sm-0" type="submit"><i class="fas fa-pen-fancy"></i> Publier</button>
							</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
