<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Modifier profil</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-5 trajet">
				<div class="wrap">
					<div class="login-wrap p-4 p-md-5">
						<form method="post" th:action="@{/monprofil/{id}(id=${user.id})}" th:object="${user}">
							<div class="form-group">
								<label for="nom" class="form-label">Nom</label> 
								<input type="text" th:field="*{nom}"
									class="form-control">
							</div>
							<div class="form-group">
								<label for="prenom" class="form-label">Prénom</label> 
								<input type="text" id="prenom"
									th:field="*{prenom}" class="form-control">
							</div>
							<div class="form-group">
								<label for="email" class="form-label">Mail</label> 
								<input type="text" id="email"
									th:field="*{email}" class="form-control">
							</div>
							<div class="form-group">
								<label for="photoProfil" class="form-label">Photo de profil</label> 
								<input type="text" id="photoProfil"
									th:field="*{photoProfil}" class="form-control">
							</div>
							<div class="form-group">
								<label for="password" class="form-label">Mot de passe</label> 
								<input type="password" id="password"
									th:field="*{password}" class="form-control">
							</div>
							<div class="form-group">
								<select multiple class="form-select" th:field="*{roles}" hidden="hidden">
									<option th:each="role : ${listeRoles}" th:value="${role.id}"
										th:text="${role.roleName}"></option>
								</select>
							</div>
							<div class="form-group mt-2">
								<button class="form-control btn btn-lg rounded submit px-3"
									type="submit">Valider</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>