<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<title>Agence du Bout du Monde</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="wrapper">
			<section class="cpt-background-header size-1">
				<figure class="elem-image bg-header-image size-100">
					<picture>

						<img th:src="@{/img/photo-main.png}" alt="" title="">
					</picture>
				</figure>
				<div class="inner-background-header">
					<div class="cpt-title-header ">
						<div class="title-lvl1">
							<form th:action="@{/reserver}" method="get">
								<div class="input-group">
									<input name="destination" type="search"
										class="form-control form-control-lg rounded-start-pill"
										placeholder="Choisissez votre destination" aria-label="Search"
										aria-describedby="search-addon" />
									<button type="submit" class="btn btn-dark rounded-end-pill" data-mdb-ripple-init><i
											class="fas fa-search"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>

		</div>
		<h2 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">Vos destinations préférées
		</h2>
		<br>
		<div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="card-group">
						<div class="card" th:each="destination : ${carouselPage1}">
							<a th:href="@{/reserver(destination=${destination.ville})}">
								<img th:src="${destination.imageDestination}" class="card-img-top"
									th:alt="${destination.ville}">
								<div class="card-img-overlay">
									<h3 class="card-title" style="color: white;" th:text="${destination.ville}"></h3>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item" th:unless="${carouselPage2}==null">
					<div class="card-group">
						<div class="card" th:each="destination : ${carouselPage2}">
							<a th:href="@{/reserver(destination=${destination.ville})}">
								<img th:src="${destination.imageDestination}" class="card-img-top"
									th:alt="${destination.ville}">
								<div class="card-img-overlay">
									<h3 class="card-title" style="color: white;" th:text="${destination.ville}"></h3>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item" th:unless="${carouselPage3}==null">
					<div class="card-group">
						<div class="card" th:each="destination : ${carouselPage3}">
							<a th:href="@{/reserver(destination=${destination.ville})}">
								<img th:src="${destination.imageDestination}" class="card-img-top"
									th:alt="${destination.ville}">
								<div class="card-img-overlay">
									<h3 class="card-title" style="color: white;" th:text="${destination.ville}"></h3>
								</div>
							</a>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>


</body>

</html>
