<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-5">
				<div class="wrap">
					<div class="login-wrap p-4 p-md-5">
						<h3 class="text-center mb-4">Se connecter</h3>
						<form th:action="${formAddress}" th:method="POST" class="signin-form">
							<div class="form-group mt-3 d-flex align-items-center">
								<label class="sr-only" for="username">Email</label>
								<input type="email" class="form-control mb-3" id="username" placeholder="Adresse email"
									name="username" required autofocus>
							</div>
							<div class="form-group mt-2 d-flex align-items-center">
								<label class="sr-only" for="password">Mot de passe</label>
								<input id="password" type="password" class="form-control" placeholder="Mot de passe"
									name="password" required>
							</div>
							<button type="button" onclick="togglePasswordVisibility(TOGGLE, PSWD)"
								class="btn fas fa-eye" id="toggle-password"></button>
							<div class="form-group mt-3 bouton">
								<button type="submit" class="form-control btn btn-warning rounded submit px-3">Se
									connecter</button>
							</div>
							<div class="form-group d-md-flex mt-2">
								<div class="w-50 text-md-right">
									<a th:href="@{/forgotten}"><i class="fas fa-key"></i> Mot de plasse oublié</a>
								</div>
							</div>
						</form>
						<span class="d-block text-center my-4 text-muted">&mdash; ou &mdash;</span>
						<h3 class="text-center mb-4">Pas encore inscrit? S'inscrire</h3>
						<form th:action="${formSigninAddress}" th:method="POST" th:object="${newUser}"
							class="signin-form">
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-25">
									<label for="inputName" class="col-form-label">Nom</label>
								</div>
								<div class="w-100">
									<input type="text" th:field="*{nom}" id="inputName" class="form-control"
										placeholder="Votre nom" required>
									<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"
										class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-25">
									<label for="inputSurname" class="col-form-label">Prénom</label>
								</div>
								<div class="w-100">
									<input type="text" th:field="*{prenom}" id="inputSurname" class="form-control"
										placeholder="Votre prénom" required>
									<span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"
										class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-25">
									<label for="inputEmail" class="col-form-label">Adresse email</label>
								</div>
								<div class="w-100">
									<input type="email" th:field="*{email}" id="inputEmail" class="form-control"
										placeholder="Votre adresse email" required>
									<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-25">
									<label for="inputPassword" class="col-form-label">Mot de passe</label>
								</div>
								<div class="w-100">
									<input type="password" th:field="*{password}" id="inputPassword"
										class="form-control" placeholder="Votre mot de passe" required>
									<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
										class="text-danger"></span>
								</div>
							</div>
							<div class="d-flex justify-content-end">
								<button type="button" onclick="togglePasswordVisibility(InTOGGLE, InPSWD)"
									class="btn fas fa-eye" id="toggle-inputPassword"></button>
							</div>
							<div class="form-group mt-3 d-flex align-items-center">
								<div class="w-25">
									<label for="inputPassword" class="col-form-label">Photo de profil</label>
								</div>
								<div class="w-100">
									<input type="text" th:field="*{photoProfil}" id="inputPhotoProfil"
										class="form-control" placeholder="Votre photo de profil" required>
									<span th:if="${#fields.hasErrors('photoProfil')}" th:errors="*{photoProfil}"
										class="text-danger"></span>
								</div>
							</div>
							<div class="form-group mt-3 bouton">
								<button class="form-control btn btn-outline-warning rounded submit px-3"
									type="submit">S'inscrire</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>