<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<title>Mon profil</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="row justify-content-center py-5 h-100 trajet">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-12 col-xl-4">
					<div class="card" style="border-radius: 15px;">
						<div class="card-body text-center">
							<div class="mt-3 mb-3">

								<img th:src="${user.photoProfil}" class="rounded-circle" style="width: 150px;"></div>
								<h4 class="mb-3 border-bottom border-warning-subtle"><span th:text="${user.nom}"></span>
									<span th:text="${user.prenom}"></span></h4>
								<p class="text-muted mb-4" th:text="${user.email}"></p>
								<div class="mb-4 pb-2">
									<a th:href="@{/monprofil/{id}(id=${user.id})}"
										class="btn btn-outline-primary btn-floating abm-btn" title="Editer mon profil">
										<i class="fas fa-edit"></i>
									</a>
									<a th:href="@{{id}(id=${clientPanierId})}"
										class="btn btn-outline-primary btn-floating abm-btn" title="Voir mon panier">
										<i class="fas fa-luggage-cart"></i>
									</a>
									<a th:href="@{/avis/form}" class="btn btn-primary btn-rounded abm-btn">
										Laisser un avis
									</a>
								</div>
							</div>
						</div>

						<div th:unless="${isVipG}" class="text-center">
							<button class="btn btn-warning" data-bs-toggle="modal"
								data-bs-target="#promote-modal">Devenir
								VIP</button>
							<div id="promote-modal" class="modal fade" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Devenir VIP</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Fermer"></button>
										</div>
										<div class="modal-body">
											<p>Devenir VIP c'est accéder aux avantages suivants:</p>
											<ul class="list-group">
												<li class="list-group-item">Chaque tranche de <span
														th:text="${euroToPoint}"></span>€ dépensés
													vous fait gagner 1 point</li>
												<li class="list-group-item">Sur n'importe quelle commande, vous pouvez
													appliquer une remise : 1
													point c'est <span th:text="${pointToEuro}"></span>€ en moins !</li>
											</ul>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Fermer</button>
											<a class="btn btn-warning" href="/monprofil/promote">Je deviens VIP</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div th:if="${isVipG}" class="text-center">
							<p>Votre total de points: <span th:text="${nombrePoints}" class="text-info"></span></p>
							<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#demote-modal">Quitter
								l'offre
								VIP</button>
							<div id="demote-modal" class="modal fade" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Devenir VIP</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Fermer"></button>
										</div>
										<div class="modal-body">
											<p>Vous nous quittez ? Vous perdriez <span th:text="${nombrePoints}"></span>
												points...</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Fermer</button>
											<a class="btn btn-danger" href="/monprofil/demote">Je quitte l'offre VIP</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
</body>

</html>