<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reservable</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="img-reservable">
			<!-- First Column -->
			<div class="column">
				<img th:src="${stationBalneaire.photoPrincipale}" style=" border-radius: 10px 0px 0px 10px;"
					class="image-res" alt="First Image">
			</div>
			<!-- Second Column -->
			<div class="column">
				<!-- First Row in Second Column -->
				<div class="row g-0">
					<img th:src="${stationBalneaire.photoPrincipale}" style="width: 100%;" class="image-res"
						alt="Second Image">
					<img th:src="${stationBalneaire.photoPrincipale}"
						style="width: 100%; border-radius: 0px 10px 0px 0px;" class="image-res" alt="Third Image">
				</div>
				<!-- Second Row in Second Column -->
				<div class="row g-0">
					<img th:src="${stationBalneaire.photoPrincipale}" style="width: 100%;" class="image-res"
						alt="Fourth Image">
					<img th:src="${stationBalneaire.photoPrincipale}" style="width: 100%; border-radius: 0px 0px 10px;"
						class="image-res" alt="Fifth Image">
				</div>
			</div>
		</div>
		<div class="d-flex contenu">
			<div class="card reservable">
				<div class="card-body reservable">
					<div class="card-header d-flex justify-content-between p-1">
						<div class="d-inline-flex">
							<h3 class="card-title" th:text="${stationBalneaire.nom}"></h3>
						</div>
						<div class="d-flex">
							<a th:href="@{/trajet/ShowForm?reservable={id}&destination={dest}(id=${stationBalneaire.id},dest=${stationBalneaire.lieu.id})}"
								class="btn btn-success" id="btn-reserver">Réserver une chambre</a>
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<h5> <i th:text="${stationBalneaire.lieu.ville}"></i></h5>
						<div class="d-flex">
							<h3 id="prix" th:text="'€'+${stationBalneaire.prixParJour}"></h3>
							<h6>/jours</h6>
						</div>
					</div>
					<div class="contenu-card">
						<div class="d-flex" th:unless="${stationBalneaire.noteMoyenne()}==-1">
							<div class="snail-rating" th:text="${stationBalneaire.noteMoyenne()}"></div>
							<p class="ml-2 fs-6 review-count"
								th:text="@{{nbAvis} avis(nbAvis=${#lists.size(stationBalneaire.avis)})}">
							</p>
						</div>
						<i class="fs-6 text-secondary" th:if="${stationBalneaire.noteMoyenne()}==-1">Pas
							d'évaluation</i>
						<p th:text="${stationBalneaire.description}"></p>
						<div class="d-inline-flex">
							<i class="fas fa-swimming-pool p-1"></i>
							<p th:text="${stationBalneaire.nbPiscine}"></p>
						</div>
						<div class="d-inline-flex">
							<i class="fas fa-hot-tub p-1"></i>
							<p th:text="${stationBalneaire.nbPiscine}"></p>
						</div>
						<div class="d-flex">
							<p th:each="activite : ${stationBalneaire.activites}"><i th:class="'fa fa-'+${activite.faIcone}"></i><span class="m-1" th:text="${activite.nom}"></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="" style="margin: 0% 15% 0% 15%;">
			<div class="contenu" th:unless="${#lists.isEmpty(stationBalneaire.avis)}">
				<div id="carousselCommentaire" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item" th:each="singleAvis : ${stationBalneaire.avis}" th:object="${singleAvis}">
							<div class="card p-3">
								<div class="snail-rating" th:text="*{note}"></div>
								<h5 th:text="*{client.prenom}+' ' + *{client.nom}"></h5>
								<h6 th:text="*{date}"></h6>
								<p th:text="'Commentaire : '+*{commentaire}">
								</p>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carousselCommentaire"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon visually-hidden" aria-hidden="false"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carousselCommentaire"
						data-bs-slide="next">
						<span class="carousel-control-next-icon visually-hidden" aria-hidden="false"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
