<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
	<title>Recherche</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container mt-4">
			<div class="row">

				<nav aria-label="Page navigation" th:unless="${#lists.isEmpty(reservables)}" class="container">
					<div class="row justify-content-between">
						<ul class="pagination col-6">
							<li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
								<a class="page-link"
									th:href="@{/reserver(page=1, pageSize=${pageSize}, destination=${destination})}">First</a>
							</li>
							<li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
								<a class="page-link"
									th:href="@{/reserver(page=${currentPage - 1}, pageSize=${pageSize}, destination=${destination})}">Previous</a>
							</li>
							<li class="page-item" th:each="i : ${#numbers.sequence(1, pageNumber)}"
								th:classappend="${currentPage == i ? 'active' : ''}">
								<a class="page-link"
									th:href="@{/reserver(page=${i}, pageSize=${pageSize}, destination=${destination})}"
									th:text="${i }"></a>
							</li>
							<li class="page-item" th:classappend="${currentPage == pageNumber ? 'disabled' : ''}">
								<a class="page-link"
									th:href="@{/reserver(page=${currentPage + 1}, pageSize=${pageSize}, destination=${destination})}">Next</a>
							</li>
							<li class="page-item" th:classappend="${currentPage == pageNumber ? 'disabled' : ''}">
								<a class="page-link"
									th:href="@{/reserver(page=${pageNumber}, pageSize=${pageSize}, destination=${destination})}">Last</a>
							</li>
						</ul>
						<div class="col-4">
							<form method="get" class="input-group">
								<input type="hidden" name="destination" th:value="${destination}">
								<input type="hidden" name="page" th:value="${currentPage}">
								<select class="form-select" id="pageSize" name="pageSize">
									<option selected>Résultats par page</option>
									<option value="2">2</option>
									<option value="5">5</option>
									<option value="10">10</option>
									<option value="50">50</option>
								</select>
								<button type="submit" class="btn btn-secondary">Valider</button>
							</form>
						</div>
					</div>
				</nav>




				<div class="col-lg-12">
					<p class="alert alert-warning" th:if="${#lists.isEmpty(reservables)}">Il n'y a rien a réserver
						ici...</p>
					<article class="card mb-4 px-3" th:each="reservable : ${reservables}" th:object="${reservable}">

						<div class="no-gutters d-flex justify-content-between">

							<a class="col-md-4 m-2 p-2" th:href="@{/reserver/{id}(id=*{id})}">
								<img class="img-thumbnail" th:src="*{photoPrincipale}" alt="Photo de l'hôtel">
							</a>
							<div class="col">
								<div class="card-body">

									<a class="card-header d-flex justify-content-between p-1"
										th:href="@{/reserver/{id}(id=*{id})}">
										<h3 class="card-title" th:text="*{nom}"></h3>
										<div class="d-flex align-items-end">
											<p class="fs-3 m-0" id="prix" th:text="@{€{prix}(prix=*{prixParJour})}"></p>
											<p class="fs-6 m-0">/jour</p>
										</div>
									</a>
									<p class="fs-5"><i class="fas fa-map-marker-alt mx-1"></i><em
											th:text="*{lieu.ville}"></em>
									</p>

								</div>

								<div class="contenu-card">
									<div class="d-flex" th:unless="*{noteMoyenne()}==-1">
										<div class="snail-rating" th:text="*{noteMoyenne()}"></div>
										<p class="ml-2 fs-6 review-count"
											th:text="@{{nbAvis} avis(nbAvis=*{#lists.size(avis)})}"></p>
									</div>
									<i class="fs-6 text-secondary" th:if="*{noteMoyenne()}==-1">Pas d'évaluation</i>

									<p th:text="*{description}"></p>
								</div>
								<div class="contenu-btn d-flex justify-content-end">
									<div style="display: none;" th:id="'banner'+*{id}">
										<div class="alert alert-info alert-dismissible fade show p-1" role="alert">
											<strong th:text="*{class.name}"></strong>
										</div>
									</div>
									<p class="m-1 p-1" data-bs-toggle="tooltip"
											data-bs-placement="top" th:attr="data-bs-title=*{class.name.substring(23)}">
											<strong><i class="far fa-question-circle" ></i></strong>
											</p>
									
									<a class="btn btn-outline-success" id="btn-reserver"
										th:href="@{/reserver/{id}(id=*{id})}">Réserver</a>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
</body>

</html>