<footer class="row-cols-5 py-3 mt-5 mt-auto">


	<div class="col">
		<h4 class="h4footer">Agence du Bout du Monde</h4>

		<div class="footer__share">

			<div class="footer__social">
				<a href="https://www.facebook.com/" target="_blank" rel="noopener" title="La page Facebook"><i
						class="fab fa-facebook ml-2 icone"></i></a>
			</div>
			<div class="footer__social">
				<a href="https://www.instagram.com/" target="_blank" rel="noopener" title="Le compte Instagram "><i
						class="fab fa-instagram ml-2 icone"></i></a>
			</div>
			<div class="footer__social">
				<a href="https://twitter.com/" target="_blank" rel="noopener" title="Le compte Twitter "><i
						class="fab fa-twitter ml-2 icone"></i></a>
			</div>


		</div>
	</div>

	<div class="col-md-4" id="elements">

		<!--<ul class="nav flex-column">
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted lienfooter">A propos</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted lienfooter">Contact</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted lienfooter">Politique de
					confidentialité</a>
			</li>
		</ul>-->

		<div class="d-flex">
			<a th:href="@{/apropos}" class="lienfooter">A propos</a>
			<p>&ensp; | &ensp;</p>
			<a th:href="@{/contact}" class="lienfooter">Contact</a>
			<p>&ensp; | &ensp;</p>
			<a th:href="@{/confidentialite}" class=" lienfooter">Politique de
					confidentialité</a>
			
		</div>
	</div>


</footer>