<header id="header1" class="d-flex justify-content-between">
	<a href="/" class="topnav_link">
		<img width="60px" src="/img/snail.svg" alt="Logo escargot">
		<img src="/img/AGENCE-DU-BOUT-DU-MONDE-title.png" alt="titre" height="60px">
	</a>
	<div class="d-flex align-items-center">
		<!-- barre de recherche -->
		<a class="topnav_link">
			<form class="input-group" th:action="@{/reserver}" method="get">
				<div class="form-outline" data-mdb-input-init>
					<input id="search-focus" type="search" name="destination" class="form-control"
						placeholder="recherche..." />
				</div>
				<button type="submit" class="btn">
					<i class="fas fa-search"></i>
				</button>
			</form>

		</a>
		<!-- Login -->
		<a id="login" class="btn" href="/login" sec:authorize="isAnonymous()">Connexion</a>
		<!-- Icone panier -->
		<a id="icone" class="topnav_link fs-3" th:if="${isClientG}" th:href="@{/panier/{id}(id=${panierIdG})}"><i
				class="fas fa-shopping-cart"></i></a>

		<!-- Hamburger -->
		<a class="header1_hamburger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
			aria-controls="offcanvasRight">
			<span></span>
			<span></span>
			<span></span>
		</a>

		<!-- Menu Responsive -->
		<div class="offcanvas offcanvas-end right-menu" tabindex="-1" id="offcanvasRight"
			aria-labelledby="offcanvasRightLabel">
			<div class="offcanvas-header">
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/reserver">Boutique</a></li>
					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightDest">Destinations
							&ensp; <i class="fas fa-caret-right"></i></a></li>
					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightBO" 
							sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">Back Office
							&ensp; <i class="fas fa-caret-right"></i></a></li>
					<li sec:authorize="isAuthenticated()"><a href="/monprofil">Mon profil</a></li>
					<li sec:authorize="isAuthenticated()"><a href="/logout" class="text-danger">Se déconnecter</a></li>
				</ul>

			</div>
		</div>
		<div class="offcanvas offcanvas-end right-menu" tabindex="-1" id="offcanvasRightDest"
			aria-labelledby="offcanvasRightLabel">
			<div class="offcanvas-header">
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul>
					<li th:each="destination : ${allDestinationsG}"><a
							th:href="@{/reserver?destination={dest}(dest=${destination.ville})}"
							th:text="${destination.ville}"></a>
					</li>
					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"><i
								class="fas fa-caret-left"></i> &ensp; Retour</a></li>
				</ul>
			</div>
		</div>
		<div class="offcanvas offcanvas-end right-menu" tabindex="-1" id="offcanvasRightBO"
			aria-labelledby="offcanvasRightLabel" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
			<div class="offcanvas-header">
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="titres-menu">
				<!--	<li><a href="/gestion/utilisateurs">Back Office Utilisateurs</a></li> -->
					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightUser"
							sec:authorize="hasRole('ROLE_ADMIN')">Back Office
							Utilisateurs &ensp; <i class="fas fa-caret-right"></i></a></li>
					<li><a href="/gestion/destination">Back Office Destinations</a></li>

					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightReser">Back Office
							Reservables &ensp; <i class="fas fa-caret-right"></i></a></li>
					<li><a href="/gestion/avis">Back Office Avis</a></li>
					<li><a href="/gestion/activite">Back Office Activités</a></li>
					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"><i
								class="fas fa-caret-left"></i> &ensp; Retour</a></li>
				</ul>
			</div>
		</div>
		<div class="offcanvas offcanvas-end right-menu" tabindex="-1" id="offcanvasRightReser"
			aria-labelledby="offcanvasRightLabel" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
			<div class="offcanvas-header">
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="titres-menu">
					<li><a href="/gestion/hotel">Back Office Hotel</a></li>
					<li><a href="/gestion/stationbalneaire">Back Office Station Balnéaire</a></li>
					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightBO"><i
								class="fas fa-caret-left"></i> &ensp; Retour</a></li>
				</ul>
			</div>
		</div>
		<div class="offcanvas offcanvas-end right-menu" tabindex="-1" id="offcanvasRightUser"
			aria-labelledby="offcanvasRightLabel" sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="offcanvas-header">
				<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="titres-menu">
					<li><a href="/gestion/utilisateurs">Back Office Utilisateur</a></li>
					<li><a href="/gestion/clients">Back Office Client</a></li>
					<li><a href="/gestion/Vips">Back Office VIP</a></li>
					<li><a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightBO"><i
								class="fas fa-caret-left"></i> &ensp; Retour</a></li>
				</ul>
			</div>
		</div>
		
		
		
	</div>
	</div>

</header>
